@import "styles/variables";
@import "styles/functions";

.user-form {
  width: px(600);

  &-wrap {
    border-right: 2px solid $main;
    border-bottom: 2px solid $main;
    border-left: 2px solid $main;
    border-bottom-right-radius: px(22);
    border-bottom-left-radius: px(22);
  }
}
