// colors
$dark-grey: #838383;
$light-grey: #a9a9a9;
$white: #ffffff;
$black: #000000;

// colors functionality
$main: #010086;
$error: #c73e1d;
$background: #e2e4d7;

// sizes
$border-radius: 8px;

// z-index
$z-regular: 1;
$z-modal: 2;
