@import "styles/functions";
@import "styles/spacing";
@import "styles/display";
@import "styles/position";
@import "styles/text";

* {
  box-sizing: border-box;
  background-color: transparent;
  padding: 0;
  border: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
}

#__nuxt {
  height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

.layout {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  position: relative;
  flex-grow: 1;
  padding: px(8) px(32);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}
