@import "styles/functions";
@import "styles/variables";

.tabs {
  display: flex;
  min-height: px(44);

  button {
    cursor: pointer;
    flex-grow: 1;
    font-size: px(20);
    border: 2px solid $main;
    color: $main;

    &.active {
      color: $white;
      background-color: $main;
    }
  }

  button:first-child {
    border-top-left-radius: px(22);
  }

  button:last-child {
    border-top-right-radius: px(22);
  }
}
